laskarit/viikko2/maksukortti/src/tests/.DS_Store
laskarit/viikko2/maksukortti/src/.DS_Store
laskarit/viikko2/maksukortti/.DS_Store
laskarit/viikko2/.DS_Store
laskarit/.DS_Store
laskarit/viikko2/unicafe/.pytest_cache
laskarit/viikko2/unicafe/src/tests/__pycache__/
laskarit/viikko2/unicafe/src/__pycache__/
laskarit/viikko2/unicafe/.DS_Store
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov