laskarit/viikko2/unicafe/.coverage
laskarit/viikko2/unicafe/htmlcov
mynotes/.vscode
mynotes/.coverage
.DS_Store
**/.DS_Store
**/__pycache__
**/.pytest_cache
__pycache__/
/Users/heleneilvonen/ot-harjoitustyo/mynotes/src/tests/__pycache__
/Users/heleneilvonen/ot-harjoitustyo/mynotes/src/ui/__pycache__